@import url("http://fonts.googleapis.com/css?family=Abel:400|Cuprum:400,400italic,700italic,700&amp;subset=latin,latin-ext");

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: "Cuprum", serif;
  color: rgb(0, 31, 204);
  font-weight: 900;
  font-size: 40px;
  align-items: flex-start;
  margin: 10px;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: rgb(0, 31, 204);
  font-family: "Cuprum", serif;
  font-weight: 900;
  padding: 10px;
  font-size: 20px;
}
